<div ng-show="chartData" class="row" ng-controller="BarChartCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{recCount}} Most Common Symptoms</h3>
        <div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label style="font-size: 14px">
            <input type="checkbox" ng-model="serious" ng-change="refreshChartWithLatestData()">
            Show only serious adverse events
          </label>
        </div>
        <p ng-if="prescriptions.length" ng-hide="options.chart.noData">
        Of the {{totalReports}} adverse events reported from the {{reducePrescriptions(prescriptions)}}, 
        these are the top {{recCount}} symptoms reported.
        <!--  Experienced when taking {{reducePrescriptions(prescriptions)}}  -->
        </p>
        <p ng-if="prescriptions.length" ng-show="options.chart.noData">
        No adverse events have been reported from the {{reducePrescriptions(prescriptions)}} 
        </p>
        <div ng-hide="options.chart.width">
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
        <div ng-show="options.chart.width" style="width: {{options.chart.width}}">
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
    </div>
</div>
