<div ng-show="chartData" class="row" ng-controller="BarChartCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{recCount}} Most Common Symptoms</h3>
        <p>Experienced when taking X, Y, and Z together</p>
        <div class="checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label style="font-size: 14px">
            <input type="checkbox" ng-model="serious" ng-change="refreshChartWithLatestData()">
            Show only serious adverse events
          </label>
        </div>
        <div ng-hide="options.chart.width">
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
        <div ng-show="options.chart.width" style="width: {{options.chart.width}}">
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
    </div>
</div>
