<div ng-show="chartData" class="row" ng-controller="BarChartCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{recCount}} Most Common Symptoms</h3>
        <p ng-if="prescriptions.length">Experienced when taking {{reducePrescriptions(prescriptions)}}</p>
        <div ng-hide="options.chart.width">
            <p>No sizing</p>
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
        <div ng-show="options.chart.width" style="width: {{options.chart.width}}, background-color: #fff">
            <p>div width should be: {{options.chart.width}}</p>
            <nvd3 options="options" data="chartData"></nvd3>
        </div>
    </div>
</div>
