<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12" class="drugiq-white">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>Geocent Office Locations</h1>

          <address>
            <strong>Corporate Headquarters</strong><br>
            111 Veterans Memorial Blvd, Suite 1600<br>
            Metairie, LA 70005<br>
            <abbr title="Phone">Phone:</abbr> 504-831-1900 <br>
            <abbr title="Phone">Fax:</abbr> 504-831-1901 <br>
            <a href="http://www.bing.com/maps/?v=2&where1=111+Veterans+Blvd%2C+Metairie%2C+LA+70005" target="_blank">Click
              here for map to this office</a>
          </address>
          <address>
            <a href="http://www.geocent.com/Pages/Contact.aspx">Click here to email us</a>
          </address>


          <address>
            <strong>Charleston, SC Office</strong><br>
            Lowcountry Innovation Center<br>
            1535 Hobby Street, Suite 103<br>
            North Charleston, SC 29405<br>
            <abbr title="Phone">Phone:</abbr> 843-405-5151 <br>
            <abbr title="Phone">Fax:</abbr> 843-405-5150 <br>
            <a href="http://www.bing.com/maps/?v=2&where1=1535+Hobby+Street+N.+Charleston%2c+SC+29405" target="_blank">Click
              here for map to this office</a>
          </address>


          <address>
            <strong>UNO Research & Technology Park Offices</strong><br>
            2219 Lakeshore Drive, Building 1, Suite 300<br>
            New Orleans, LA 70122<br>
            <abbr title="Phone">Phone:</abbr> 504-831-1900 <br>
            <abbr title="Phone">Fax:</abbr> 504-613-5871 <br>
            <a href="http://www.bing.com/maps/?v=2&where1=2219+Lakeshore+Avenue%2c+New+Orleans%2c+LA+70122"
               target="_blank">Click
              here for map to this office</a>
          </address>


          <address>
            <strong>Stennis Space Center Office</strong><br>
            Balch BLVD, Building 1103, Suite 249<br>
            Stennis Space Center, MS 39529<br>
            <abbr title="Phone">Phone:</abbr> 228-688-1265 <br>
            <abbr title="Phone">Fax:</abbr> 228-688-6531 <br>
            <a href="http://www.bing.com/maps/?v=2&where1=C+Road%2c+Stennis+Space+Center%2c+MS+39529" target="_blank">Click
              here for map to this office</a>
          </address>


          &nbsp;&nbsp;&nbsp;<strong>Access Information:</strong>
          <ul>
            <li>Stennis Space Center is a federal government secure
              facility. Visitors must be pre-approved by Geocent before arrival.
            </li>
            <li>Stop at Visitors Center to obtain security pass to
              enter facility. You will need a photo ID to obtain pass.
            </li>
            <li>After proceeding through security guard post, proceed
              down Shuttle Parkway (MS-607) turn right at J Road, turn left on C Road to Building 1103.
            </li>
          </ul>

          <br>
          <address>
            <strong>Baton Rouge, LA Office</strong><br>
            3029 South Sherwood Forest Blvd, Suite 101<br>
            Baton Rouge, LA 70816<br>
            <a href="http://www.bing.com/maps/?v=2&where1=3029+South+Sherwood+Forest+Blvd%2c+Baton+Rouge+70816"
               target="_blank">Click here for map to this office</a>
          </address>

          <address>
            <strong>Huntsville, AL Office</strong><br>
            6703 Odyssey Drive NW, Suite 304<br>
            Huntsville, AL 35806<br>
            <abbr title="Phone">Phone:</abbr> 256-489-4748 <br>
            <abbr title="Phone">Fax:</abbr> 256-489-4586 <br>
            <a href="http://www.bing.com/maps/?v=2&where1=6703+Odyssey+Drive+NW%2c+Suite+304%2c+Huntsville%2c+AL+35806"
               target="_blank">Click here for map to this office</a>
          </address>

          <address>
            <strong>Dallas, TX Office</strong><br>
            The Madison<br>
            15851 Dallas Parkway, Suite 623<br>
            Addison, TX 75001<br>
            <a
              href="http://www.bing.com/maps/?v=2&cp=32.965427~-96.823013&lvl=16&sty=r&q=15851%20Dallas%20Pkwy%2C%20Addison%2C%20Texas%2C%20United%20States&form=LMLTCC"
              target="_blank">Click here for map to this office</a>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
