<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">
    <h1>About DrugIQ</h1>

<p>
Drug IQ is a web app created as a response to the ADS Prototype challenge. 
The ADS Prototype challenge leverages an OpenFDA API that helps users explore reported adverse drug events.  An adverse event is submitted to the FDA to report any undesirable experience associated with the use of a drug, including serious drug side effects, product use errors, product quality problems, and therapeutic failures.
<br/><br/>Reporting of adverse events by healthcare professionals and consumers is voluntary in the United States. Increases in the total number of adverse events are likely caused by improved reporting. News, enforcement actions, and other phenomena can also spur reporting.
</p>
<h2>What does it do?</h2>
<p>Drug IQ is a web front end to allow users to learn more about adverse events for a given drug or combination of drugs. 
<br/><br/>An adverse event is any undesirable experience associated with the use of a drug, including serious drug side effects, product use errors, product quality problems, and therapeutic failures. 
<br/><br/>Users may explore this information in order to better understand the risks and potential adverse effects associated with a given drug or combination of drugs. 
</p>
<h2>Who made Drug IQ?</h2>
<p>Drug IQ is a web app created by Geocent as a response to the 18f Prototype challenge. The team includes:
</p>
<ul>
  <li><strong>• Product Manger:</strong> Keith Alphonso</li>
  <li><strong>• Agile Coach:</strong> Roberta Hazelbaker</li>
  <li><strong>• Technical Architect:</strong> Jared Ladner</li>
  <li><strong>• Delivery Manager:</strong> Brian Priest</li>
  <li><strong>• Visual Designer:</strong> Josh Penton</li>
  <li><strong>• Interaction Designer:</strong> Vance Lowe</li>
  <li><strong>• DevOps Engineer:</strong> Tyler Sanders</li>
  <li><strong>• Frontend Web Developer:</strong> Aaron Whitney and Randy Nolan</li>
</ul>

  </div>

</div>
