<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">
    <h1>About DrugIQ</h1>
    <p>To utilize data from OpenFDA to inform both consumers and medical professionals of cases of interest based on specific drugs being used and problems being experienced on potentially experienced</p>

    <h2>DrugIQ Users</h2>
    <div class="col-md-8">
    <ul>
	  <li><strong>Consumers </strong>– Non-professional users that take multiple medications and are experiencing, or are concerned about experiencing, problems due to interactions of medications
	  </li>
	  <li><strong>Medical Professionals </strong>– Medical professionals who are prescribing or administering medication to patients that are on multiple medications and want to identify potential areas to watch for problems</li>
	</ul>
    </div>
  </div>

</div>
