<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="row">
    <h1>Adverse Events</h1>
    <p>Items returned: {{items.length}}</p>
    <div ng-repeat="item in items" ng-show="items.length > 1">
      <ul>
        <li>{{item.term}}: {{item.count}}
      </ul>
    </div>
    
    <div ng-repeat="item in items" ng-show="items.length === 1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company Number</th>
            <th>Country</th>
            <th>Date of Receipt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ item.companynumb }}</td>
            <td>{{ item.occurcountry }}</td>
            <td>{{ item.receiptdate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
