<div class="row" ng-controller="DetailPieChartCtrl" ng-show="showCharts">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h3>Age of Patients</h3>
    <p>with selected symptom</p>

    <div ng-show="buttons.showAge" ng-click="showAgeGraph()">
      <a class="btn btn-info" href="#" role="button">Show Chart</a>
    </div>

    <div ng-hide="buttons.showAge">
      <nvd3 options="ageOptions" data="ageChartData"></nvd3>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h3>Gender of Patients</h3>
    <p>with selected symptom</p>

    <div ng-show="buttons.showGender" ng-click="showGenderGraph()">
      <a class="btn btn-info" href="#" role="button">Show Chart</a>
    </div>

    <div ng-hide="buttons.showGender">
      <nvd3 options="options" data="chartData"></nvd3>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h3>Weight of Patients</h3>
    <p>with selected symptom (lbs)</p>

    <div ng-show="buttons.showWeight" ng-click="showWeighGraph()">
      <a class="btn btn-info" href="#" role="button">Show Chart</a>
    </div>

    <div ng-hide="buttons.showWeight">
      <nvd3 options="weightOptions" data="weightChartData"></nvd3>
    </div>
  </div>
</div>
