
<div class="row" ng-controller="DataChartCtrl" ng-show="symptoms.length">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h3>Select Adverse Event</h3>
        <select class="form-control" id="symptomType" name="symptomType" ng-options="symptom for symptom in symptoms | orderBy:'toString()'" ng-model="selectedSymptom" ng-change="updateReportTable(true)"></select>

        <div  ng-show="isLoading" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><i>Loading...</i></div>

        <table class="table" ng-show="reports.length">
            <thaad>
                <tr>
                    <th>
                        <a href="#" ng-click="sortType = 'severity'; sortReverse = !sortReverse">
                        Severity
                        <span ng-show="sortType == 'severity' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'severity' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                        Age
                        <span ng-show="sortType == 'age' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'age' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'sex'; sortReverse = !sortReverse">
                        Sex
                        <span ng-show="sortType == 'sex' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'sex' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th>
                        Report
                    </th>
            </thead>
            <tbody>
                <tr ng-repeat="report in reports | orderBy:sortType:sortReverse">
                    <td>{{report.severity}}</td>
                    <td>{{report.age}}</td>
                    <td>{{report.sex}}</td>
                    <td><a href="#" ng-click="loadRequestedReport(report.id)">View Report</a></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <pagination total-items="totalReports" ng-model="selectedReportPage" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="reportPageSize" rotate="false" ng-change="updateReportTable(false)" ng-show="totalReports"></pagination>
        </div>
    </div>

    <script type="text/ng-template" id="modalReportContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Safety Report ID - {{report.safetyreportid}}</h3>
        </div>
        <div class="modal-body">
            <accordion close-others="false">
                <accordion-group heading="Patient" is-open="true">
                    <dl class="dl-horizontal">
                        <dt>Onset Age</dt>
                        <dd>{{report.patient.patientonsetage}}</dd>

                        <dt>Onset Age</dt>
                        <dd>{{report.patient.patientonsetage}}</dd>
                    </dl>
                </accordion-group>

                <accordion-group heading="Drug">
                </accordion-group>

                <accordion-group heading="Reaction">
                </accordion-group>
            </accordion>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>
</div>
