
<div class="row" ng-controller="DataChartCtrl" ng-show="symptoms.length">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h3>What symptom are you interested in?</h3>
        <select class="form-control" id="symptomType" name="symptomType" ng-options="symptom for symptom in symptoms | orderBy:'toString()'" ng-model="selectedSymptom" ng-change="updateReportTable(true)"></select>

        <div  ng-show="isLoading" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><i>Loading...</i></div>

        <div ng-include="'app/components/piechart/piechart-detailed.html'"></div>

        <br/>
        <p ng-show="reports.length && query.prescriptions.length">Explore the detailed reports from others that have experienced <b>{{ selectedSymptom }}</b> when taking {{reducePrescriptions(query.prescriptions)}}</p>

        <table class="table" ng-show="reports.length">
            <thead>
                <tr>
                    <th scope="col">
                        <a href="#" ng-click="sortType = 'severity'; sortReverse = !sortReverse">Severity</a>
                        <span ng-show="sortType == 'severity' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'severity' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th scope="col">
                        <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">Age</a>
                        <span ng-show="sortType == 'age' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'age' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th scope="col">
                        <a href="#" ng-click="sortType = 'sex'; sortReverse = !sortReverse">Sex</a>
                        <span ng-show="sortType == 'sex' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="sortType == 'sex' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                    </th>
                    <th scope="col">
                        Report
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in reports | orderBy:sortType:sortReverse">
                    <td>{{report.severity}}</td>
                    <td>{{report.age}}</td>
                    <td>{{report.sex}}</td>
                    <td><a ng-click="loadRequestedReport(report)">View Report</a></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <pagination total-items="totalReports" ng-model="selectedReportPage" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="reportPageSize" rotate="false" ng-change="updateReportTable(false)" ng-show="totalReports"></pagination>
        </div>
    </div>

    <script type="text/ng-template" id="modalReportContent.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Safety Report ID - {{report.safetyreportid}}</h3>
        </div>
        <div class="modal-body">
            <accordion close-others="false">
                <accordion-group heading="Event" is-open="true">
                    <dl class="dl-horizontal">
                        <dt>Date</dt>
                        <dd>{{report.event.date}}</dd>

                        <dt>Serious Result</dt>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.congenitalAnomaly, 'glyphicon-unchecked': !report.event.serious.congenitalAnomaly}" aria-hidden="true"></span> Congential Anomaly</dd>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.death, 'glyphicon-unchecked': !report.event.serious.death}" aria-hidden="true"></span> Death</dd>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.disability, 'glyphicon-unchecked': !report.event.serious.disability}" aria-hidden="true"></span> Disability</dd>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.hospitalization, 'glyphicon-unchecked': !report.event.serious.hospitalization}" aria-hidden="true"></span> Hospitalization</dd>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.lifeThreatening, 'glyphicon-unchecked': !report.event.serious.lifeThreatening}" aria-hidden="true"></span> Life Threatening</dd>
                        <dd><span class="glyphicon" ng-class="{'glyphicon-check': report.event.serious.other, 'glyphicon-unchecked': !report.event.serious.other}" aria-hidden="true"></span> Other</dd>
                    </dl>
                </acordion>

                <accordion-group heading="Patient">
                    <dl class="dl-horizontal">
                        <dt>Age</dt>
                        <dd>{{report.patient.age}}</dd>

                        <dt>Sex</dt>
                        <dd>{{report.patient.sex}}</dd>

                        <dt>Weight</dt>
                        <dd>{{report.patient.weight}}</dd>
                    </dl>
                </accordion-group>

                <accordion-group heading="Drug">
                    <dl class="dl-horizontal" ng-repeat="drug in report.drugs | orderBy:'name'">
                        <dt>Name</dt>
                        <dd>{{drug.name}}</dd>

                        <dt>Indication</dt>
                        <dd>{{drug.indication}}</dd>

                        <dt>Form</dt>
                        <dd>{{drug.form}}</dd>

                        <dt>Adverse Event Role</dt>
                        <dd>{{drug.characterization}}</dd>
                    </dl>
                </accordion-group>

                <accordion-group heading="Reaction">
                    <dl class="dl-horizontal" ng-repeat="reaction in report.reactions | orderBy:'reaction'">
                        <dt>Reaction</dt>
                        <dd>{{reaction.reaction}}</dd>

                        <dt>Outcome</dt>
                        <dd>{{reaction.outcome}}</dd>
                    </dl>
                </accordion-group>
            </accordion>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="close()">Close</button>
        </div>
    </script>
</div>
