<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> DrugIQ
      </a>
    </div>

    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">-->
    <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('{{nav.home}}')}"><a ng-href="{{nav.home}}">Home</a></li>
        <li ng-class="{active: isActive('{{nav.about}}')}"><a ng-href="{{nav.about}}">About</a></li>
        <li ng-class="{active: isActive('{{nav.contact}}')}"><a ng-href="{{nav.contact}}">Contact</a></li>
        <li ng-class="{active: isActive('{{nav.source}}')}"><a ng-href="{{nav.source}}" target="_blank">Source</a></li>
      </ul>

    </div>
  </div>
</nav>
