<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1>About DrugIQ</h1>

          <p>
            Drug IQ is a web app created as a response to the ADS Prototype challenge.
            The ADS Prototype challenge leverages an OpenFDA API that helps users explore reported adverse drug events.
            An
            adverse event is submitted to the FDA to report any undesirable experience associated with the use of a
            drug,
            including serious drug side effects, product use errors, product quality problems, and therapeutic failures.
            <br/><br/>Reporting of adverse events by healthcare professionals and consumers is voluntary in the United
            States.
            Increases in the total number of adverse events are likely caused by improved reporting, news, enforcement 
            actions, and other phenomena can also spur reporting.          
          </p>

          <h2>What does it do?</h2>

          <p>Drug IQ is a web front end to allow users to learn more about adverse events for a given drug or
            combination of
            drugs.
            <br/><br/>An adverse event is any undesirable experience associated with the use of a drug, including
            serious
            drug
            side effects, product use errors, product quality problems, and therapeutic failures.
            <br/><br/>Users may explore this information in order to better understand the risks and potential adverse
            effects
            associated with a given drug or combination of drugs.
          </p>

          <h2>Who made Drug IQ?</h2>

          <p>Drug IQ is a web app created by Geocent as a response to the 18f Prototype challenge. The team includes:
          </p>
          <ul class="list-unstyled">
            <li><strong>Product Owner:</strong> </li>
              <ul>
                <li>Keith Alphonso (Product Manager)</li>
              </ul>
            <li><strong>Scrum Master:</strong> </li>
              <ul>
                <li>Roberta Hazelbaker (Agile Coach)</li>
              </ul>
            <li><strong>Project Lead:</strong> </li>
              <ul>
                <li>Jared Ladner (Technical Architect)</li>
              </ul>
            <li><strong>Quality Manager:</strong> </li>
              <ul>
                <li>Brian Priest (Delivery Manager)</li>
              </ul>
            <li><strong>User Experience (UX) Lead:</strong> </li>
              <ul>
                <li>Vance Lowe (Visual Designer)</li>
              </ul>
            <li><strong>DevOps Lead:</strong> </li>
              <ul>
                <li>Tyler Sanders (DevOps Engineer)</li>
              </ul>
            <li><strong>Developers:</strong></li>
              <ul>
                <li>Josh Penton (Frontend Web Developers)</li>
                <li>Aaron Whitney (Frontend Web Developers)</li>
                <li>Randy Nolan (Frontend Web Developers)</li>
              </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
